.footer {
  color: #545454;
  width: 100%;
  max-width: 880px;
  margin: 67px auto 60px;
}
.footer__copyright {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

@media screen and (max-width: 635px) {
  .footer {
    max-width: 282px;
    margin: 48px auto 36px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
