footer {
  color: #545454;
  width: 318px;
  display: flex;
  justify-content: left;
  margin-left: 200px;
  margin-bottom: 60px;
  margin-top: 67px;
}
.footer__copyright {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
}

@media screen and (max-width: 480) {
  .footer {
    max-width: 282px;
    padding: 48px 19px 36px;
    text-align: left;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 1.2;
  }
}
