.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 19px;
  padding-right: 19px; */
  padding: 0 19px;
  display: none;
}

.modal__open {
  display: flex;
}

.modal__container {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
  display: flex;
  padding: 36px;
  flex-direction: column;
  position: relative;
  width: 430px;
  height: 330px;
}
.modal__close-button {
  background: transparent url(../images/Close\ button.svg) center no-repeat;
  border: none;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
}

.modal__heading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-family: 900;
  font-size: 24px;
  line-height: 29px;
  color: rgb(0, 0, 0);
  padding-bottom: 52px;
  margin: 0;
  /* width: 330px;
  height: 23px; */
}

.modal__form {
  width: fit-content;
}

.modal__form-name {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgb(0, 0, 0);
  border: none;
  width: 358px;
  height: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 14px;
  outline: none;
  margin-bottom: 30px;
  padding-top: 0px;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
}

.modal__form-description {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgb(0, 0, 0);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  height: 17px;
  outline: none;
  padding-top: 0px;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
}

.modal__button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  border: none;
  padding: 0;
  margin-top: 48px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .modal__container {
    width: 238px;
    height: 272px;
    padding: 22px 25px;
  }

  .modal__form {
    width: fit-content;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
  }
  .modal__form-description {
    width: 238px;
  }
  .modal__close-button {
    width: 26px;
    height: 26px;
    top: -39px;
    left: 256px;
  }

  .modal__button {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}
