.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s ease-out;
}

.modal_opened {
  visibility: visible;
  transition-delay: 0s;
  opacity: 1;
}

.modal__container {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 430px;
  height: 330px;
}

.modal__container-delete {
  background-color: rgb(255, 255, 255);
  height: 181px;
  width: 430px;
  position: relative;
  border-radius: 10px;
}

.modal__container-avatar {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px;
  position: relative;
  width: 430px;
  height: 272px;
}

.modal__close-button {
  background: transparent url(../images/Close\ button.svg) center no-repeat;
  border: none;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
}

.modal__close-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.modal__heading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.21;
  color: #000;
  margin-top: 34px;
  margin-right: 64px;
  margin-left: 36px;
  margin-bottom: 23.18px;
  padding: 0;
}

.modal__heading-delete {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 0;
  padding: 34px 38px 0;
}

.modal__heading-avatar {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: 330px;
  height: 23px;
  color: rgb(0, 0, 0);
  top: 258px;
  left: 461px;
  margin-top: 36px;
  margin-left: 36px;
}

.modal__form-label {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0 36px;
  padding: 0;
  width: 358px;
}
.modal__form {
  width: fit-content;
}
.modal__form-fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0 36px;
  padding: 0;
  width: 358px;
}
.modal__input {
  font-family: "Inter", "Arial", sans-serif;
  border: none;
  height: 14px;
  padding-bottom: 13.04px;
  border-bottom: 0.4px solid rgba(84, 84, 84, 0.7);
  outline: none;

  margin-top: 30.04px;
}

.modal__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.modal__error {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  min-height: 12px;
  color: #ff0000;
  align-self: flex-start;
  transition: opacity 0.3s;
  visibility: hidden;
}

.modal__error_visible {
  visibility: visible;
}

.modal__button {
  height: 50.15px;
  color: #fff;
  background-color: #000;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-radius: 2px;
  padding: 0;
  width: 358px;
  margin-top: 48px;
  cursor: pointer;
  margin-left: 36px;
}

.modal__form-button {
  width: 358px;
  height: 50px;
  margin-left: 36px;
  margin-top: 12px;
  line-height: 21.78px;
  color: #fff;
  background-color: #000;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding: 0px;
  cursor: pointer;
  border-radius: 2px;
}

.modal__form-button {
  height: 50.15px;
  color: #fff;
  background-color: #000;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-radius: 2px;
  padding: 0;
  width: 358px;
  margin-top: 48px;
  cursor: pointer;
}

.modal__button:hover {
  cursor: pointer;
  opacity: 80%;
}

.modal__button_disabled {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.modal__button_disabled:hover {
  cursor: default;
  opacity: 1;
}

.modal__preview-container {
  background-color: transparent;
  max-width: 433px;
  max-height: 540px;
  position: relative;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.modal__image-preview {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__image-title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  letter-spacing: 0cm;
}

@media screen and (max-width: 670px) {
  .modal__container {
    max-width: 282px;
    max-height: 322px;
    padding: 25px 22px;
  }
  .modal__close-button {
    width: 26px;
    height: 26px;
    top: -44px;
    left: calc(100% - 24px);
  }

  .modal__form-button {
    width: 238px;
  }

  .modal__heading {
    margin-bottom: 75px;
    max-width: 238px;
    font-size: 18px;
  }

  .modal__heading-avatar {
    width: 100%;
  }
  .modal__form-fieldset {
    width: 238px;
  }
  .modal__input {
    max-height: 27px;
    font-size: 14px;
    height: 14px;
    padding-top: 30px;
    padding-bottom: 13px;
  }

  .modal__button {
    max-height: 46px;
    margin-top: 15px;
    /* margin-top: 45px; */
    text-align: center;
    font-size: 14px;
    font-family: "Inter", Arial, sans-serif;
    padding: 14px 100px;
  }

  .modal__image-preview {
    max-width: 75vw;
    max-height: 75vh;
    margin-top: 136px;
  }

  .modal__close-button_type_preview {
    height: 30px;
    width: 30px;
    left: calc(100% + 5px);
  }
}

@media screen and (max-width: 480px) {
  /* .modal__form {
    width: fit-content;
  } */

  .modal__close-button {
    width: 26px;
    height: 26px;
    top: -39px;
    left: 256px;
  }
  .modal__preview-container {
    display: flex;
    background-color: transparent;
    align-items: flex-start;
  }

  .modal__button {
    font-size: 14px;
    line-height: 16px;
  }

  .modal__close-button_type_preview {
    height: 30px;
    width: 30px;
    position: absolute;
    left: calc(100% + 5px);
  }
}
